body {
  background-image: url('/images/galaxy.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  overflow: scroll;
}

img {
  width: 50%;
  height: auto;
}

.image-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
}

.btn {

}

.img-card {
  cursor: pointer;
}
